.pdf-container {
    min-height: calc(100vh - 35px);
    margin-top: 75px;
    /*margin-left: 0;
    margin-right: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdf-container-mobile {
    min-height: calc(100vh - 35px);
    /*margin-left: 0;
    margin-right: 0;*/
    display: flex;
    justify-content: center;
    align-items: center;
}