.footer-container {
    background-color: var(--bgBlue);
    color: var(--bgWhite);
    padding: 10px;
    height: 35px;
    width: 100%;
}

.footer-text {
    font-size: 12px;
    text-align: center;
    margin: 0;
}